{%extends 'base.html'%}
{%block title%}Ogani | Login{%endblock%}
{%block content%}



<!-- From -->
  <div class="container"> 
    <div class="row">
      <div class="col-6">
    
      <div >
        <h2>Change Password </h2><br>
        <p style="color:red;">{{ err }}</p>
        <form action="{%url 'changepassword'%}" method="POST"  class="form grid">
          {% csrf_token %}
          <input type="password" placeholder="Your Password" name="pass" class="form-control">
          <br><br>
          <input type="password" placeholder="Your Confirm password" name="cpass" class="form-control">
          <br><br>
          <button class="primary-btn" type="submit">Submit</button><br>
          <br>
        </form>
      </div></div>

</div>
  </div> 




{%endblock%}